.ContactPage .contact-head {
  position: relative;
  height: 50vh;
}

.ContactPage .colorful-shade {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  background: linear-gradient(90deg, #12adff, #16f6fe 65%, #12adff);
  color: #16f5fd;
  opacity: 0.4;
}

.ContactPage .contact-head-text {
  line-height: 25vh;
  text-align: center;
}

.ContactPage .contact-card {
  padding: 5rem 2rem;
  border-bottom: 1rem solid #12adff;
  /*The following line clips the bottom border size out*/
  padding-bottom: calc(5rem - 1rem);
  background-color: #f2f2f2;
  color: #222;
  z-index: 110;
  box-shadow: 0px 4px 7px rgb(51, 51, 51);
  transform: translateY(-50%);
}

.ContactPage .contact-card h2,
.ContactPage .contact-card .action-btn {
  font-family: "Source Serif Pro", serif !important;
}

.ContactPage .contact-card p {
  font-size: 1rem;
}

.ContactPage .contact-card .action-btn {
  font-weight: bold;
  display: inline-block;
  margin-top: 1rem auto;
  background-color: #12adff;
  color: #161616;
  width: 75%;
  word-wrap: break-word;
  border-radius: 1rem;
  padding: 0.5rem 0;
  text-decoration: none;
}

.ContactPage .action-btn:hover {
  background-color: #87dde4;
  color: #222;
}

.ContactPage .action-note {
  font-family: sans-serif;
  color: #a367db;
}

.ContactPage .contact-tail {
  margin-bottom: 4rem;
  font-weight: bolder;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*Fancy Word Colors*/

.ContactPage .tail-word-1 {
  color: #16f6fe;
}

.ContactPage .tail-word-2 {
  color: #5afca0;
}

.ContactPage .tail-word-3 {
  color: #3dff91;
}

.ContactPage .tail-word-4 {
  color: #f8adff;
}
