.ContactPage .contact-head {
  position: relative;
  height: 50vh;
}

.ContactPage .colorful-shade {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  background: linear-gradient(90deg, #12adff, #16f6fe 65%, #12adff);
  color: #16f5fd;
  opacity: 0.4;
}

.ContactPage .contact-head-text {
  padding-top: calc(25vh - 4rem);
  text-align: center;
}

.ContactPage .contact-card {
  padding: 5rem 2rem;
  border-bottom: 1rem solid #12adff;
  /*The following line clips the bottom border size out*/
  padding-bottom: calc(5rem - 1rem);
  background-color: #f2f2f2;
  color: #222;
  z-index: 110;
  box-shadow: 0px 4px 7px rgb(51, 51, 51);
  transform: translateY(-50%);
}

.ContactPage .contact-card h2 {
  font-family: "Source Serif Pro", serif !important;
}

.ContactPage .contact-card p {
  font-size: 1rem;
}

.ContactPage .contact-card .action-btn {
  font-weight: 500;
  font-size: 1.2rem;
  display: inline-block;
  margin-top: 1rem auto;
  background-color: #12adff;
  color: #222;
  width: 75%;
  word-wrap: break-word;
  border-radius: 1rem;
  padding: 0.5rem 0;
  text-decoration: none;
  position: relative;
}

.ContactPage .contact-card .action-btn:hover {
  filter: contrast(1.5);
}

.ContactPage .action-note {
  pointer-events: none;
  width: 100%;
  font-weight: 400;
  font-size: 0.85rem;
  background-color: #161616;
  color: #f2f2f2;
  position: absolute;
  top: 125%;
  right: 50%;
  transform: translateX(50%);
  z-index: 900;
  box-shadow: 0px 1px 1px #222;
  border-radius: 0.3rem;
  padding: 0.2rem 1rem;
  opacity: 0;
  transition: opacity 0.6s ease-out;
}

.ContactPage .action-note::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  right: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #000 transparent;
}

.ContactPage .action-btn:hover > .action-note {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.ContactPage .contact-tail {
  font-family: "Source Serif Pro", serif;
  margin-bottom: 4rem;
  font-weight: bolder;
}

/*Fancy Word Colors*/

.ContactPage .tail-word-1 {
  color: #16f6fe;
}

.ContactPage .tail-word-2 {
  color: #5afca0;
}

.ContactPage .tail-word-3 {
  color: #3dff91;
}

.ContactPage .tail-word-4 {
  color: #f8adff;
}

@media (max-width: 991.98px) {
  .ContactPage .contact-head {
    height: 12rem;
  }
  .ContactPage .contact-head-text {
    padding-top: calc(6rem + 2.2rem);
    transform: none;
    font-size: 1.2rem !important;
    line-height: 2rem;
    padding: 2rem;
  }
  .ContactPage .contact-body {
    padding: 1rem;
  }
  .ContactPage .contact-card {
    transform: translateY(0);
    margin: 1rem 0;
  }
  .ContactPage .contact-card h2 {
    font-size: 1.2rem !important;
  }
  .ContactPage .contact-card .action-btn {
    font-size: 1rem;
  }
}
