/* .ResumePage .resume-body-side {
  background-color: aquamarine;
  height: 400px;
}

.ResumePage .resume-body-main {
  background-color: rgb(236, 255, 127);
  height: 400px;
} */

.ResumePage {
  padding-right: 1rem;
}

.ResumePage .bg-sprite {
  position: absolute;
  height: 600px;
  bottom: 0;
  right: 0;
  filter: opacity(25%);
}

.ResumePage .body-flex-container {
  align-items: flex-start;
}

.ResumePage .work-details-segment,
.ResumePage .education-details-segment {
  margin-bottom: 2rem;
}

.ResumePage .timespan-text {
  color: #afafaf;
}

.ResumePage .section-title {
  background: linear-gradient(90deg, #81aef7, #ffffff);
  padding: 0.5rem 0;
}

.ResumePage .resume-body-side {
  background-color: #a7c8fd;
  color: #000;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  /* position: sticky;
  top: 4rem;
  box-shadow: 1px 2px 5px #000; */
}
