/* .ResumePage .resume-body-side {
  background-color: aquamarine;
  height: 400px;
}

.ResumePage .resume-body-main {
  background-color: rgb(236, 255, 127);
  height: 400px;
} */

.ResumePage {
  padding-right: 2rem;
  background-color: #222222;
  color: #f3f3f3;
}

.ResumePage .resume-name-div {
  margin-left: 1rem;
  font-size: 1.7rem;
}

.ResumePage .resume-name-div p {
  border-left: 0.5rem solid #f3f3f3;
  padding-left: 2rem;
}

.ResumePage .bg-sprite {
  z-index: -999;
  position: absolute;
  height: 600px;
  bottom: 0;
  right: 0;
  filter: opacity(25%);
}

.ResumePage .body-flex-container {
  align-items: flex-start;
}

.ResumePage .work-details-segment,
.ResumePage .education-details-segment {
  margin-bottom: 2rem;
}

.ResumePage .timespan-text {
  color: #afafaf;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.ResumePage .subsection {
  margin-left: 3rem;
}

.ResumePage .section-title {
  /* border-top-left-radius: 1rem;
  border-top-right-radius: 1rem; */
  border-radius: 1.5rem;
  padding: 0.5rem 0 0.5rem 1rem;
  margin-left: -2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.ResumePage .sub-header {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0;
}

.ResumePage .resume-body-side {
  border-radius: 1rem;
  padding: 1rem 1.5rem;
}

.ResumePage .section-title,
.ResumePage .resume-body-side {
  background-color: #a367db;
}

.ResumePage .resumeside-title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.ResumePage .resumeside-icon {
  margin-right: 0.5rem;
}

.ResumePage .contact-section {
  padding-bottom: 1rem;
}

.ResumePage .contact-section p {
  margin-bottom: 0;
  margin-left: 1rem;
}

.ResumePage .contact-section p:first-child {
  margin-left: 0;
  margin-bottom: 8px;
}
