.SkillsPage {
  padding: 0 3rem 2.5rem 3rem;
}

.SkillsPage .row {
  row-gap: 1.5rem;
}

.SkillsPage .quote-div {
  margin-top: 4rem;
  margin-bottom: 4rem;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #615c4c;
}

.SkillsPage .my-quote {
  font-size: 2rem;
  font-family: "Source Serif Pro", serif;
  font-weight: 600;
  position: relative;
}

.SkillsPage .quote-footer {
  font-size: 1.5rem;
  color: rgb(211, 211, 211);
}

.SkillsPage .quote-footer::before {
  content: "\2015";
}

.SkillsPage .quote-footer::after {
  content: "\201D";
  position: absolute;
  top: -4rem;
  right: 0rem;
  font-size: 6em;
  /* font-style: italic; */
  z-index: -1;
}

.SkillsPage .card-div {
  max-width: 80%;
  margin: auto;
}

/* ----------------------- */

.SkillsPage .main-skills-div {
  height: 60vh;
}

.SkillsPage .main-skill {
  display: inline-block;
  margin-right: 1rem;
  height: 30vh;
  width: 10vw;
  padding: 0 1rem;
  transform: skew(-20deg);
  margin-left: -2rem;
}
.SkillsPage .main-skill:first-child {
  margin-left: 2rem;
}

.SkillsPage .main-skill h2 {
  line-height: 30vh;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}

.SkillsPage .main-skill:nth-child(even) {
  transform: skew(-20deg) translateY(50%);
}

.SkillsPage .prl-1 {
  background-color: #ffbfb5;
}
.SkillsPage .prl-2 {
  background-color: #b0fcd2;
}
.SkillsPage .prl-3 {
  background-color: #e7fd69;
}
.SkillsPage .prl-4 {
  background-color: #bab0e6;
}
.SkillsPage .prl-5 {
  background-color: #70ff70;
}
.SkillsPage .prl-tail {
  width: auto;
  font-size: 1.5rem;
}

.SkillsPage .projects-div {
  margin-bottom: 4rem;
}

.SkillsPage .prj-card {
  cursor: pointer;
  display: block;
  margin-right: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0px 1px 1px 1px rgb(112, 112, 112);
  overflow: hidden;
  transform: scale(100%);
  position: relative;
  left: 0;
  transition: transform 0.1s linear 0s, left 0.1s linear 0s,
    box-shadow 0.1s linear 0s;
}

.SkillsPage .prj-card:hover {
  z-index: 999;
  transform: scale(125%);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 1);
  transition: transform 0.1s linear 0.2s, left 0.1s linear 0.2s,
    box-shadow 0.1s linear 0.2s;
}

.SkillsPage .prj-card:first-child:hover {
  z-index: 999;
  transform: scale(125%);
  left: 2rem;
}

.SkillsPage .prj-img {
  width: 15rem;
  height: 10rem;
  object-fit: cover;
  background-position: top left;
}
