.SkillsPage {
  padding: 0 3rem 2.5rem 3rem;
}

.SkillsPage .row {
  row-gap: 1.5rem;
}

.SkillsPage .quote-div {
  margin-top: 4rem;
  margin-bottom: 4rem;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.SkillsPage .my-quote {
  font-size: 2rem;
  font-family: "Source Serif Pro", serif;
  font-weight: 600;
  text-shadow: 1px 1px 1px #000;
  position: relative;
}

.SkillsPage .quote-footer {
  font-size: 1.5rem;
  color: rgb(211, 211, 211);
}

.SkillsPage .quote-footer::before {
  text-shadow: none;
  content: "\2015";
}

.SkillsPage .quote-footer::after {
  text-shadow: none;
  content: "\201D";
  position: absolute;
  top: -4rem;
  right: 0rem;
  font-size: 6em;
  /* font-style: italic; */
  z-index: -1;
}

.SkillsPage .card-div {
  max-width: 80%;
  margin: auto;
}

/* ----------------------- */

.SkillsPage .main-skills-div {
  height: calc(100vh - 14rem);
}

.SkillsPage .main-skill {
  display: inline-block;
  margin-right: 1rem;
  height: 15rem;
  width: 10rem;
  padding: 0 1rem;
  transform: skew(-20deg);
  margin-left: -2rem;
}
.SkillsPage .main-skill:first-child {
  margin-left: 2rem;
}

.SkillsPage .main-skill h2 {
  line-height: 15rem;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}

.SkillsPage .main-skill:nth-child(even) {
  transform: skew(-20deg) translateY(50%);
}

@keyframes glow {
  0% {
    filter: blur(1px) brightness(80%);
  }
  50% {
    filter: blur(3px) brightness(200%);
  }
  100% {
    filter: blur(0) brightness(100%);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: skew(-20deg) translateY(50%) scaleX(0);
  }
  100% {
    opacity: 1;
    transform: skew(-20deg) translateY(50%) scaleX(1);
  }
}

@keyframes slideInMobile {
  0% {
    opacity: 0;
    transform: skew(-20deg) scaleX(0);
  }
  100% {
    opacity: 1;
    transform: skew(-20deg) scaleX(1);
  }
}

.SkillsPage .prl-1 {
  background-color: #ffbfb5;
  animation: glow 0.3s ease-out 0.5s;
}
.SkillsPage .prl-2 {
  background-color: #b0fcd2;
  animation: glow 0.3s ease-out 0.7s;
}
.SkillsPage .prl-3 {
  background-color: #e7fd69;
  animation: glow 0.3s ease-out 0.9s;
}
.SkillsPage .prl-4 {
  background-color: #bab0e6;
  animation: glow 0.3s ease-out 1.1s;
}
.SkillsPage .prl-5 {
  background-color: #70ff70;
  animation: glow 0.3s ease-out 1.3s;
}
.SkillsPage .prl-tail {
  opacity: 0;
  width: auto;
  font-size: 1.5rem;
  transform-origin: left;
  animation: slideIn 0.8s ease-out 1.5s;
  animation-fill-mode: forwards;
}

.SkillsPage .projects-div {
  margin-bottom: 4rem;
}

.SkillsPage .projects-div .prj-cards-container {
  padding-left: 1rem;
  padding-bottom: 1rem;
  overflow-y: auto;
}

.SkillsPage .projects-div .prj-cards-container::-webkit-scrollbar {
  background: transparent;
  height: 5px;
}

.SkillsPage .projects-div .prj-cards-container::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 1rem;
}

.SkillsPage .prj-card {
  min-width: 20rem;
  height: 15rem;
  position: relative;
  cursor: pointer;
  display: block;
  margin-right: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0px 1px 1px 1px #111;
  overflow: hidden;
}

.SkillsPage .prj-card .card-title {
  font-family: "Source Serif Pro", serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.SkillsPage .prj-card .see-details-btn {
  text-align: center;
  float: right;
  font-size: 2rem;
  border: 2px solid rgb(255, 255, 255);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.SkillsPage .prj-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: top left;
}

.SkillsPage .prj-card .card-desc {
  position: absolute;
  bottom: 0;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: bottom;
  height: 85%;
  overflow-y: auto;
  word-wrap: break-word;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  margin: 0;
  font-size: 90%;
  transition: transform 0.2s ease-in, visibility 0.2s ease-in;
}

.SkillsPage .prj-card .card-desc h4 {
  font-variant: small-caps !important;
  letter-spacing: 1px;
}

.SkillsPage .prj-card:hover {
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 1);
}

.SkillsPage .prj-card .see-details-btn:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
}

.SkillsPage .prj-card:hover .card-desc {
  transform: scaleY(1);
  visibility: visible;
  transition: transform 0.2s ease-in 0.1s, visibility 0.2s ease-in 0.1s;
}

@media (max-width: 1199.98px) {
  .SkillsPage {
    padding: 0 1rem 2.5rem 1rem;
  }
  .SkillsPage .quote-div {
    max-width: 95%;
    margin: 4rem auto;
  }
  .SkillsPage .quote-div .my-quote {
    font-size: 1.5rem;
  }
  .SkillsPage .main-skills-div {
    height: auto;
    max-width: 95%;
  }
  .SkillsPage .main-skill {
    width: 15rem;
    height: 5rem;
    margin: 0 !important;
    transform: skew(-20deg) translateY(0) !important;
  }
  .SkillsPage .main-skill h2 {
    line-height: 5rem;
  }
  .SkillsPage .prl-tail {
    text-align: right;
    animation: slideInMobile 0.8s ease-out 1.5s;
    animation-fill-mode: forwards;
  }
}
