.ProfileHead {
  /* background-color: aqua; */
  padding: 2rem 0;
}

.ProfileHead .image-container {
  width: 200px;
  height: 200px;
}

.ProfileHead .image-container .profile-image {
  width: 100%;
  height: 100%;
  border-radius: 2em;
  object-fit: cover;
}

.ProfileHead .headline-container {
  height: 200px;
  overflow-y: auto;
}
