.ProfileAbout {
  border: 1px solid grey;
  border-radius: 1rem;
  padding: 1rem;
}

.ProfileAbout .about-title,
.ProfileAbout .about-body {
  font-family: "Dancing Script", cursive;
}

.ProfileAbout .about-title {
  font-weight: bold;
  font-size: 2rem;
}

.ProfileAbout .about-body {
  font-size: 1.4rem;
  font-weight: 300;
}
