.ProfileAbout {
  border: 1px solid grey;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
}

.ProfileAbout .about-title {
  font-weight: bold;
  font-size: 2rem;
}

.ProfileAbout .about-body {
  font-size: 1.3rem;
}
