.ProjectList {
  margin-bottom: 4rem;
  position: relative;
}

.ProjectList .prj-cards-container {
  padding-left: 1rem;
  padding-bottom: 1rem;
  overflow-x: auto;
}

.ProjectList .prj-cards-container::-webkit-scrollbar {
  background: transparent;
  height: 5px;
}

.ProjectList .prj-cards-container::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 1rem;
}

.ProjectList .prj-card {
  scroll-snap-align: start;
  min-width: 20rem;
  width: 20rem;
  height: calc(20rem * 0.66);
  position: relative;
  cursor: pointer;
  display: block;
  margin-right: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0px 1px 1px 1px #111;
  overflow: hidden;
}

.ProjectList .prj-card .card-title {
  font-family: "Source Serif Pro", serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.ProjectList .prj-card .see-details-btn {
  text-align: center;
  float: right;
  font-size: 2rem;
  border: 2px solid rgb(255, 255, 255);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.ProjectList .prj-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: top left;
}

.ProjectList .prj-card .card-desc {
  position: absolute;
  width: 100%;
  height: 85%;
  bottom: 0;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: bottom;
  overflow-y: auto;
  word-wrap: break-word;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  margin: 0;
  font-size: 90%;
  transition: transform 0.2s ease-in, visibility 0.2s ease-in;
}

.ProjectList .prj-card .card-desc h4 {
  font-variant: small-caps !important;
  letter-spacing: 1px;
}

.ProjectList .prj-card .card-desc a {
  /* color: #f2f2f2; */
  color: inherit;
  text-decoration: none;
}

.ProjectList .prj-card:hover {
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 1);
}

.ProjectList .prj-card .see-details-btn:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
}

.ProjectList .prj-card:hover .card-desc {
  transform: scaleY(1);
  visibility: visible;
  transition: transform 0.2s ease-in 0.1s, visibility 0.2s ease-in 0.1s;
}

.ProjectList .scroll-x-btn {
  text-align: center !important;
  font-size: 2rem;
  position: absolute;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.4);
  height: calc(100% - 4rem + 1px);
  width: 4rem;
  transform: translateY(25%);
}

.ProjectList .scroll-x-btn svg {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ProjectList .scroll-x-btn:hover {
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: all 0.1s ease-out 0.1s;
}

.ProjectList .scroll-left {
  left: 0;
}

.ProjectList .scroll-right {
  right: 0;
}

@media only screen and (max-width: 767px) {
  .ProjectList .prj-cards-container {
    scroll-snap-type: x mandatory;
  }
}

@media only screen and (max-width: 576px) {
  .ProjectList .prj-card {
    min-width: calc(50vw - 3rem);
    width: calc(50vw - 3rem);
    height: calc(50vw * 0.66 - 3.1rem * 0.66);
  }
}

@media only screen and (max-width: 576px) {
  .ProjectList .prj-cards-container {
    padding-left: 0;
  }
  .ProjectList .prj-card {
    min-width: calc(100vw - 3.1rem);
    width: calc(100vw - 3.1rem);
    height: calc(100vw * 0.66 - 3.1rem * 0.66);
  }
}
