.SkillCard {
  box-shadow: 0px 1px 4px #949494;
  margin-top: 1.5rem;
  overflow: hidden;
}

.SkillCard:hover {
  cursor: pointer;
}

.SkillCard .card-img-top {
  transform: scale(100%) !important;
  transition: all 0.2s ease-in-out;
}

.SkillCard:hover .card-img-top {
  transform: scale(110%) !important;
}
