.NavBar {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.NavBar .desktop-nav {
  line-height: 4rem;
  height: 4rem;
  background-color: #424242;
  box-shadow: 0 1px 5px rgb(0, 0, 0);
}

.NavBar .logo-link {
  width: 100%;
}

.NavBar .nav-logo {
  height: 5rem;
  width: auto;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  box-shadow: 0 1px 5px #000000;
  /* transform: translateY(-25%); */
}

.NavBar .my-nav-link {
  text-decoration: none;
  color: #f3f3f3;
  vertical-align: center;
}

.NavBar .active-nav-link {
  border-bottom: 0.2rem solid #f3f3f3;
}

.NavBar .desktop-nav .row .col-2:nth-child(1) .my-nav-link:hover {
  border-bottom: 0.2rem solid #a1d0ff;
}
.NavBar .desktop-nav .row .col-2:nth-child(2) .my-nav-link:hover {
  border-bottom: 0.2rem solid #3dff91;
}
.NavBar .desktop-nav .row .col-2:nth-child(4) .my-nav-link:hover {
  border-bottom: 0.2rem solid #fdf0b4;
}
.NavBar .desktop-nav .row .col-2:last-child .my-nav-link:hover {
  border-bottom: 0.2rem solid #f8adff;
}
