.PageFooter {
  font-weight: 400 !important;
  letter-spacing: 1px;
  background-color: rgb(66, 66, 66);
  padding-top: 16px;
  padding-bottom: 2px;
  margin: 0;
  line-height: 1.3rem;
  font-weight: 600;
  border-top: 0.5rem solid #14beff;
  /* border-bottom: 0.5rem solid #3dff91; */
  /* border-top-left-radius: 2rem;
  border-top-right-radius: 2rem; */
}

.PageFooter .contact-me-link {
  font-size: 90%;
  text-decoration: underline;
  color: #f3f3f3;
  display: inline-block;
}
