.ScrollTopButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  text-align: right;
  padding-right: 1rem;
}

.ScrollTopButton .button {
  background-color: rgb(163, 103, 219);
  color: #fff;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 1px 3px #000;
  z-index: 1000;
}

.ScrollTopButton .button:hover {
  color: #000;
  cursor: pointer;
}
